.MPButton {
    color: rgb(128, 182, 251);
    font-size: 20px;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-align: middle-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.MPButton:hover {
    color: rgb(128, 182, 251);
    font-size: 20px;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 23, 191, 0.39);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-align: middle-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.SettingsContent {
    flex-grow: 1;
}

.Tab {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: rgb(128, 182, 251);
    width: 100%;
    height: 25%;
}

.Tab:hover {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 23, 191, 0.39);
    font-size: 20px;
    color: rgb(128, 182, 251);
    width: 100%;
    height: 25%;
}

.VideoSettigs {
    align-self: stretch;
    justify-content: space-around;
    font-size: 15px;
    color: rgb(128, 182, 251);
    -unity-text-align: middle-left;
}

.unity-base-field__input {
    background-color: rgba(0, 23, 191, 0.39);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.unity-toggle VisualElement {
    background-color: rgba(0, 23, 191, 0.39);
    justify-content: space-around;
    align-self: center;
    align-items: flex-start;
    width: 100%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#unity-checkmark {
    -unity-background-image-tint-color: rgb(128, 182, 251);
}

.unity-base-field Label {
    color: rgb(128, 182, 251);
}
