Label {
    font-size: 25px;
    color: rgb(128, 182, 251);
}

.PMbutton {
    font-size: 20px;
    color: rgb(128, 182, 251);
    -unity-text-align: middle-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 20%;
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    background-color: rgba(188, 188, 188, 0);
    opacity: 0;
}

.PMTab {
    font-size: 15px;
    color: rgb(128, 182, 251);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-align: middle-left;
    opacity: 0;
}

.PMbutton:hover {
    background-color: rgba(1, 0, 77, 0.39);
    scale: 1.1 1.1;
    -unity-font-style: normal;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-text-align: upper-left;
    -unity-paragraph-spacing: 0;
    margin-left: 0;
    padding-left: 60px;
}

.PMTab:hover {
    background-color: rgba(1, 0, 77, 0.39);
    scale: 1.1 1.1;
    -unity-font-style: normal;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-text-align: upper-left;
    color: rgb(128, 182, 251);
}

.Page {
    flex-grow: 0;
    align-self: center;
    justify-content: flex-end;
    align-items: stretch;
    flex-shrink: 0;
    width: 100%;
    height: 80%;
    -unity-text-align: middle-left;
    overflow: hidden;
    display: flex;
}

.PMSettings {
    font-size: 20px;
    color: rgb(128, 182, 251);
    -unity-text-align: middle-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 20%;
    border-left-color: rgba(128, 182, 251, 0);
    border-right-color: rgba(128, 182, 251, 0);
    border-top-color: rgba(128, 182, 251, 0);
    border-bottom-color: rgb(128, 182, 251);
    background-color: rgba(188, 188, 188, 0);
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.SettingsValue {
    border-bottom-width: 0;
    border-left-color: rgb(128, 182, 251);
    border-right-color: rgb(128, 182, 251);
    border-top-color: rgb(128, 182, 251);
    border-bottom-color: rgb(128, 182, 251);
    height: 20%;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    -unity-text-align: middle-right;
}

.Container {
    flex-grow: 0;
    width: 25%;
    flex-shrink: 0;
    height: 90%;
    border-left-color: rgb(128, 182, 251);
    border-right-color: rgb(128, 182, 251);
    border-top-color: rgb(128, 182, 251);
    border-bottom-color: rgb(128, 182, 251);
    border-right-width: 2px;
    justify-content: space-around;
    align-self: flex-start;
}

.Selected {
    background-color: rgba(0, 0, 77, 0.78);
}
